h1 {
  text-align: center;
  background-color: blueviolet;
}

.city-button {
  margin: 10px;
  border-radius: 3px;
}

body{
  background-image: url("background.jpg");
  opacity: .2;
  
  
}


.container{
  background-color: #ecf3f5e6;
}

#title1{
  background-color:blue;
  width: 100%;
}