h1 {
  text-align: center;
}

.city-button {
  margin: 10px;
  border-radius: 3px;
}

/*body{
  background-image: url("https://ec.europa.eu/programmes/creative-europe/sites/creative-europe/files/actions-capitals-culture.png");
  opacity: 0.3;
  filter: alpha(opacity=30);
}*/


#pic{
  background-image: url("https://ec.europa.eu/programmes/creative-europe/sites/creative-europe/files/actions-capitals-culture.png")
  background-color: rgba(136, 132, 132, 0.9);
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#title1{
  background-color: rgba(136, 132, 132, 0.9);
}